.icon {
  fill: rgb(168, 231, 165);
}

.title {
  margin-top: 10px;
  color: rgb(168, 232, 156);
}

.divWrapper {
  width: 100%;
  overflow: hidden;
}
.header {
  box-shadow: 2px 4px 35px rgb(168, 222, 177);
  margin-bottom: 70px;
}
