/* .header {
  box-shadow: 2px 4px 35px rgb(168, 222, 177);
  margin-bottom: 70px;
} */

.divWrapper {
  width: 100%;
  overflow: hidden;
}

.title {
  margin: 50px 0px;
  color: rgb(168, 232, 156);
}

.icon {
  fill: rgb(168, 231, 165);
}
