.title {
  font-size: 25px;
  margin-bottom: 25px;
  color: rgb(87, 182, 233);
}

.register {
  font-size: 30px;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 15px;
  padding: 10px 40px;
  background-color: rgb(168, 232, 156);
  cursor: pointer;
  transition: all 350ms ease-in-out;
}

.register:hover {
  background-color: rgb(231, 197, 143);
  color: blue;
}
